<style>
  body { background: linear-gradient(-45deg, #949190, #313030, #747779,
  #6e6e6e); background-size: 400% 800%; animation: gradient 15s ease infinite;
  height: 100vh; overflow-x: hidden; } @keyframes gradient { 0% {
  background-position: 0% 50%; } 50% { background-position: 100% 50%; } 100% {
  background-position: 0% 50%; } }

</style>

<div class="content h-75 text-center text-white">
    <h2 id="title-gallery" class="my-5 ">Welcome to Foodology</h2>
    <p>Join our community, discover new amazing restaurants shared by the Foodology family</p>
    <p>Interact, review and rate places you visited!</p>
    <p>Upload your favorite places to eat as well.</p>
</div>

