<h2>Create a restaurant!</h2>

<form action="/restaurant/create" method="POST">
<label for="">Name</label>
  <input type="text" name="name" id=""  placeholder="Sam's Tavern" required>

  <label for="">Cuisine</label>
  <input type="text" name="cuisine" id="" placeholder="Italian" required></input>

  <label for="">Add image</label>
  <input type="text" name="imageUrl" id="" required>

  <button type="submit">Create restaurant</button>
</form>