<h2>Restaurant details</h2>

<h4>Name:{{restaurants.name}}</h4><hr />
<p>Cuisine:{{restaurants.cuisine}}</p><hr />

<a href="/restaurant/{{restaurants._id}}/edit">Edit!</a>
<a href="/restaurant/{{restaurants._id}}/delete">Delete!</a>

