<h2>List of restaurants</h2>

<ul>
  {{#each restaurants}}
    <li>
      <a href="/restaurant/{{_id}}"><h4>{{name}}</h4></a>
      <br>
      <p>Cuisine: {{cuisine}}</p>
    </li>
  {{/each}}
</ul>

<a href="/">Back to homepage</a>