<br><br><br><br><br>
<div class="container mt-4">
  <form novalidate action="/restaurant/create" method="POST" enctype="multipart/form-data">
    <h2 style="font-size:30px; font-weight:bolder;" >Create a restaurant!</h2>
<br><br>
    <div class="row">
      <div class="col">
        <label style="font-size:20px;" for="name" class="form-label"> Name</label><br><br>
        <input style=" height:100px;font-size:14pt;" id="name" type="text" name="name" class="form-control" placeholder="Name of the Restaurant" required/>
      </div>
    </div>
<br><br>
    <div class="row">
      <div class="col">
        <label style="font-size:20px;" for="cuisine" class="form-label"> Cuisine</label><br><br>
    <input style=" height:100px;font-size:14pt;" id="cuisine" type="text" name="cuisine" class="form-control" placeholder="What are they serving?" required/>
      </div>
    </div>
<br><br>

  <div class="row">

      <div class="col mt-2">
        <label style="font-size:20px;" for="image" class="form-label pt-2">Upload Image</label>
        <input style=" height:100px;font-size:14pt;" id="image" type="file" name="imageUrl" class="form-control-file" />
      </div>


    <div class="row ">
      <div class="col mt-2">
        <button style="font-size:15px; height:50px; margin-top:20px;" class="btn btn-sm btn-dark  text-uppercase fw-bold mb-2" type="submit">Create New Restaurant</button>
      </div>
    </div>
  </form>
</div>

<style>
  .container{
    color:white;
    justify-content: center;
    align-items: center;
    transform-origin: ;
  }
</style>