<h2>Edit a review!</h2>

<form action="/review/edit/{{reviewId}}" method="POST">

    <label for="comment"> Comment:</label>
    <input type="text" name="comment" value="{{reviews.comment}}">
<br>
    <label for="stars"> Stars:</label>
    <input type="text" name="stars" value="{{reviews.stars}}">
<br>
    <button type="submit">Edit!</button>
<br>
</form>
<a href="/restaurant/list">Back to the restaurants?</a>